body {
  margin: 0;
  background: #9e9e9e;
  overflow: hidden;
}

.container {
  width: 90%;
  height: 100vh;
  margin: auto;
  background: #f5f5f5;
}

.row {
  height: 50px;
  background: #ff5722;
}

.col {
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  user-select: none;
}

.col:hover {
  opacity: 0.7;
  background: #9e9e9e;
}

.body-container {
  height: 94%;
  margin-top: 1%;
  background: #f5f5f5;
}

.welcome {
  height: 80%;
  width: 90%;
  background: #ff5722;
  margin: auto;
  text-align: center;
  line-height: calc(80 * 100vh / 100);
  font-size: 50px;
  font-weight: bold;
  color: #f5f5f5;
  user-select: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff5722;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.col:hover .dropdown-content {
  display: block;
}

.dropdown-content p:hover {
  background-color: #ddd;
}

.decor {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 5%;
  bottom: -100px;
  background: #ff5722;
  clip-path: circle(50% at 50% 50%);
}

.decor:hover {
  animation-name: rise;
  animation-duration: 2s;
}

@keyframes rise {
  from {
    bottom: -100px;
  }
  to {
    bottom: -80px;
  }
}
